<div class="row">
  <h3 class="panel-title">
    <%= @user.name %>
  </h3>
  <p>パート：<%= @user.part %></p>
  <br>
  <ul>
    <% @schedules.each do |schedule| %>
      <li><% date=schedule.event_date %><%= date.strftime('%m/%d (%a)') %><% stime = schedule.start_at %><%= stime.strftime('%H:%M') %>〜<% etime = schedule.end_at %><%= etime.strftime('%H:%M') %>  <%= link_to  schedule.event, schedule %></li>
    <% end %>
  </ul>
    <br>
    <%= link_to 'ユーザー情報の編集', edit_user_path(current_user), class: "btn btn-success" %>
</div>
