<% if current_user.reaction?(schedule) %>
  <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#schedule<%= schedule.id%>">編集</button>
  <div class="modal fade" id="schedule<%= schedule.id%>" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <%= schedule.location %>
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modal-label<%= schedule.id%>"><%= schedule.event %></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <%= form_for(current_user.answers.find_by(schedule_id: schedule.id), html: {method: :put}) do |f| %>
                <%= hidden_field_tag :schedule_id, schedule.id %>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-success"><i class="glyphicon glyphicon-ok-sign"></i><%= f.radio_button :status, '◯' %><br>参加</label>
                  <label class="btn btn-warning"><i class="glyphicon glyphicon-exclamation-sign"></i><%= f.radio_button :status, '△' %><br>遅/早</label>
                  <label class="btn btn-danger"><i class="glyphicon glyphicon-remove-sign"></i><%= f.radio_button :status, '×' %><br>欠席</label>
                  <label class="btn btn-default"><i class="glyphicon glyphicon-question-sign"></i><%= f.radio_button :status, '？' %><br>保留</label>
                </div>
                <div class="form-group">
                  <br>
                  <%= f.label :comment, 'コメント（欠席/遅刻早退の理由）' %>
                  <%= f.text_field :comment, class: 'form-control' %>
                </div>
                <%= f.submit '編集完了', class: 'btn btn-success btn-ms center-block' %>
              <% end %>
              <%= form_for(current_user.answers.find_by(schedule_id: schedule.id), html: {method: :delete}) do |f| %>
                <%= hidden_field_tag :schedule_id, schedule.id %>
                <%= f.submit 'リセット', class: 'btn btn-default btn-xs' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#schedule<%= schedule.id %>">回答</button>
  <div class="modal fade" id="schedule<%= schedule.id%>" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <%= schedule.location %>
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modal-label<%= schedule.id %>"><%= schedule.event %></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <%= form_for(current_user.answers.build) do |f| %>
                <%= hidden_field_tag :schedule_id, schedule.id %>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-success"><i class="glyphicon glyphicon-ok-sign"></i><%= f.radio_button :status, '◯' %><br>参加</label>
                  <label class="btn btn-warning"><i class="glyphicon glyphicon-exclamation-sign"></i><%= f.radio_button :status, '△' %><br>遅/早</label>
                  <label class="btn btn-danger"><i class="glyphicon glyphicon-remove-sign"></i><%= f.radio_button :status, '×' %><br>欠席</label>
                  <label class="btn btn-default"><i class="glyphicon glyphicon-question-sign"></i><%= f.radio_button :status, '？' %><br>保留</label>
                </div>
                <div class="form-group">
                  <br>
                  <%= f.label :comment, 'コメント(欠席/遅刻早退の理由)' %>
                  <%= f.text_field :comment, class: 'form-control' %>
                </div>
                <%= f.submit '回答', class: 'btn btn-primary btn-ms center-block' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>