<div class="col-xs-12">
  <table class="table table-striped">
    
    <thread>
      <tr>
        <th>パート</th>
        <th>名前</th>
        <th>回答</th>
        <th>ステータス</th>
      </tr>
    </thread>
    
    <tbody>
        <% users.each do |user| %>
          <% if user.alive? %>
            <tr>
              <td><%= user.part %></td>
              <td><%= user.name %></td>
                <% if user.reaction?(schedule) %>
                  <% his_answer = user.answers.find_by(schedule_id: schedule.id) %>
                  <td><%= his_answer.status %></td>
                  <td><%= user.piece_3 %></td>
                <% else %>
                  <td>ー</td>
                  <td><%= user.piece_3 %></td>
                <% end %>
            </tr>
          <% else %>
            <tr></tr>
          <% end %>
        <% end %>
    </tbody>
    
     <%= paginate users %>
     
  </table>
</div>