<div class="col-xs-12">
  <table class="table table-striped">
    <thread>
      <tr>
        <th>パート</th>
        <th>名前</th>
        <th>回答</th>
        <th>コメント</th>
        <% if current_user.admin == true %>
          <th>ユーザーの削除</th>
        <% end %>
      </tr>
    </thread>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td><%= user.part %></td>
          <td><%= user.name %></td>
            <% if user.reaction?(schedule) %>
              <% his_answer = user.answers.find_by(schedule_id: schedule.id) %>
              <td><%= his_answer.status %></td>
              <td><%= his_answer.comment %></td>
            <% else %>
              <td>ー</td>
              <td></td>
            <% end %>
            <% if current_user.admin == true %>
              <td>
                <%= link_to '退会させる', user, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
              </td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
     <%= paginate users %>
  </table>
</div>