<% if logged_in? %>
  <p>ようこそ、<%= current_user.name %>さん</p>
  <% if current_user.updated_at - Time.now + 5.month < 0 %>
    <h2> !!警告!!</h2>
    <h4>長期間ログイン処理(パスワードを入力してのログイン)がされていません。一旦ログアウトし、再ログインをおこなってください。</h4>
    <p>・６ヶ月以上ログイン処理がされていないとアカウントが削除される可能性があります。</p>
  <% end %>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped">
      <thread>
        <tr>
          <th>日時</th>
          <th>内容</th>
          <th>場所</th>
          <th>回答</th>
          <th> </th>
        </tr>
      </thread>
      <tbody>
        <% @schedules.each do |schedule| %>
          <tr>
            <td><% date=schedule.event_date %><%= date.strftime('%m/%d (%a)') %><br><% stime = schedule.start_at %><%= stime.strftime('%H:%M') %>〜<% etime = schedule.end_at %><%= etime.strftime('%H:%M') %></td>
            <% if current_user.reaction?(schedule) %>
              <td><%= link_to  schedule.event, schedule %></td>
            <% else %>
              <td><%= schedule.event %></td>
            <% end %>
              <td><%= schedule.location %></td>
            <% if current_user.reaction?(schedule) %>
              <td><%= @answers.find_by(schedule_id: schedule.id, user_id: current_user.id).status %></td>
            <% else %>
              <td>ー</td>
            <% end %>
            <td><%= render 'schedules/modal', schedule: schedule %></td>
          </tr>
        <% end %>
      </tbody>
       <%= paginate @schedules %>
    </table>
  </div>
</div>
<% else %>
<div class="center jumbotron">
  <div class="text-center">
    <h1>シンプルで使いやすい出欠管理を始めましょう</h1>
    <%= link_to '会員登録', todaiphil_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
<% end %>