<% if logged_in? %>
  <p>ようこそ、<%= current_user.name %>さん</p>
  <div class="col-xs-12">
    <table class="table table-striped">
      <thread>
        <tr>
          <th>日付</th>
          <th>時間</th>
          <th>内容</th>
          <th>場所</th>
          <th>回答</th>
        </tr>
      </thread>
      <tbody>
        <% @schedules.each do |schedule| %>
        
        <tr>
          <td>
            <% date=schedule.event_date %><%= date.strftime('%m/%d (%a)') %>
          </td>
          
          <td>
            <% stime = schedule.start_at %><%= stime.strftime('%H:%M') %>〜<% etime = schedule.end_at %><%= etime.strftime('%H:%M') %>
          </td>
          
          <% if current_user.reaction?(schedule) %>
          <td>
            <%= link_to  schedule.event, schedule %>
          </td>
          <% else %>
          <td>
            <%= schedule.event %>
          </td>
          <% end %>
          <td>
            <%= schedule.location %>
          </td>
          
          <td>
            <%= render 'schedules/modal', schedule: schedule %>
          </td>
        </tr>

        <% end %>
      </tbody>
    </table>
    <div>

    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <div class="text-center">
    <h1>シンプルで使いやすい出欠管理を始めましょう</h1>
    <%= link_to '会員登録', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
<% end %>