<div>
  <h3><%= @schedule.event %></h3>
  <h4>場所：<%= @schedule.location%></h4>
  <p><% date=@schedule.event_date %><%= date.strftime('%m月%d日 (%a)') %><% stime = @schedule.start_at %>   <%= stime.strftime('%H:%M') %>〜<% etime = @schedule.end_at %><%= etime.strftime('%H:%M') %></p>
  <pre><p><%= @schedule.detail %></p></pre>
  <p>作成者：<%= @schedule.user.name %></p>
</div>

<div>
  <%= link_to '一覧に戻る', schedules_path, class: 'btn btn-primary' %>
  <%= link_to '編集する', edit_schedule_path(@schedule), class: 'btn btn-success' %>
  <% if current_user == @schedule.user %>
    <%= link_to '削除する', @schedule, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
  <% end %>
</div>

<br>

<div>
  <p>出席者:<%= @attend_counts %></p>
  <p>遅刻者:<%= @late_counts %></p>
  <p>欠席者:<%= @absent_counts %></p>
</div>

<br>
<%= link_to '通常表示へ', schedule_path(@schedule) %>

  <ul class="nav nav-tabs nav-justified">
    <li class="<%= 'active' if current_page?(piece_1_schedule_path(@schedule)) %>"><%= link_to piece_1_schedule_path(@schedule) do %>前プロ<% end %></li>
    <li class="<%= 'active' if current_page?(piece_2_schedule_path(@schedule)) %>"><%= link_to piece_2_schedule_path(@schedule) do %>中プロ<% end %></li>
    <li class="<%= 'active' if current_page?(piece_3_schedule_path(@schedule)) %>"><%= link_to piece_3_schedule_path(@schedule) do %>メイン<% end %></li>
  </ul>
<div class="col-xs-12">
  <%= render 'piece3', users: @users, schedule: @schedule %>
</div>