<div>
  <h1><%= @schedule.event %></h1>
  <h2>場所：<%= @schedule.location%></h2>
  <p><% date=@schedule.event_date %><%= date.strftime('%m月%d日 (%a)') %><% stime = @schedule.start_at %>   <%= stime.strftime('%H:%M') %>〜<% etime = @schedule.end_at %><%= etime.strftime('%H:%M') %></p>
  <p><%= @schedule.detail %></p>
  <p>作成者：<%= @schedule.user.name %></p>
</div>
<div>
  <%= link_to '一覧に戻る', schedules_path, class: 'btn btn-primary' %>
  <% if current_user == @schedule.user %>
  <%= link_to '編集する', edit_schedule_path(@schedule), class: 'btn btn-success' %>
  <%= link_to '削除する', @schedule, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
  <% end %>
</div>
<br>
  <div class="col-xs-12">
    <table class="table table-striped">
      <thread>
        <tr>
          <th>パート</th>
          <th>名前</th>
          <th>回答</th>
          <th>コメント</th>
        </tr>
      </thread>
      <tbody>
        <% @users.each do |user| %>
          <% if user.reaction?(@schedule) %>
            <% his_answer = user.answers.find_by(schedule_id: @schedule.id) %>
            <tr>
              <td><%= user.part %></td>
              <td><%= user.name %></td>
              <td><%= his_answer.status %></td>
              <td><%= his_answer.comment %></td>
            </tr>
          <% else %>
            <tr>
              <td><%= user.part %></td>
              <td><%= user.name %></td>
              <td>未回答</td>
              <td></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
       <%= paginate @users %>
    </table>
  </div>
  
  <div class="col-xs-8">
    <ul class="nav nav-tabs nav-justified">
      <li class="<%= 'active' if current_page?(user_path(@user)) %>"><%= link_to user_path(@user) do %>Microposts <span class="badge"><%= @count_microposts %></span><% end %></li>