<div>
  <h3><%= @schedule.event %></h3>
  <h4>場所：<%= @schedule.location%></h4>
  <p><% date=@schedule.event_date %><%= date.strftime('%m月%d日 (%a)') %><% stime = @schedule.start_at %>   <%= stime.strftime('%H:%M') %>〜<% etime = @schedule.end_at %><%= etime.strftime('%H:%M') %></p>
  <p><%= @schedule.detail %></p>
  <p>作成者：<%= @schedule.user.name %></p>
</div>

<div>
  <%= link_to '一覧に戻る', schedules_path, class: 'btn btn-primary' %>
  <% if current_user == @schedule.user %>
    <%= link_to '編集する', edit_schedule_path(@schedule), class: 'btn btn-success' %>
    <%= link_to '削除する', @schedule, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
  <% end %>
</div>

<br>

<div class="col-xs-12">
  <ul class="nav nav-tabs nav-justified">
    <li class="<%= 'active' if current_page?(schedule_path(@schedule)) %>">
      <%= link_to schedule_path(@schedule) do %>パート<% end %>
    </li>
    <li class="<%= 'active' if current_page?(section_schedule_path(@schedule)) %>">
      <%= link_to section_schedule_path(@schedule) do %>セクション<% end %>
    </li>
    <li class="<%= 'active' if current_page?(whole_schedule_path(@schedule)) %>">
      <%= link_to whole_schedule_path(@schedule) do %>全体<% end %>
    </li>
  </ul>
  <%= render 'reactions', users: @users, schedule: @schedule %>
</div>

