<h1><%= @schedule.event %></h1>
<h2>場所：<%= @schedule.location%></h2>

<p><% date=@schedule.event_date %><%= date.strftime('%m月%d日 (%a)') %><% stime = @schedule.start_at %>   <%= stime.strftime('%H:%M') %>〜<% etime = @schedule.end_at %><%= etime.strftime('%H:%M') %></p>
<p><%= @schedule.detail %></p>
<p>作成者：<%= @schedule.user.name %></p>

<div>
  <%= link_to '一覧に戻る', schedules_path, class: 'btn btn-primary' %>
  <% if current_user == @schedule.user %>
  <%= link_to '編集する', edit_schedule_path(@schedule), class: 'btn btn-success' %>
  <%= link_to '削除する', @schedule, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
  <% end %>
</div>
<br>
  <div class="col-xs-12">
    <table class="table table-striped">
      <thread>
        <tr>
          <th>パート</th>
          <th>名前</th>
          <th>回答</th>
          <th>コメント</th>
        </tr>
      </thread>
      <tbody>
        <% @answers.each do |answer| %>
        
        <tr>
          <td>
            <% a = answer.user_id %>
            <%= @users.find(a).part %>
          </td>
          
          <td>
            <%= @users.find(a).name %>
          </td>
          
          <td>
            <%= answer.status %>
          </td>
          
          <td>
            <%= answer.comment %>
          </td>
        </tr>

        <% end %>
      </tbody>
       <%= paginate @answers %>
    </table>
  </div>