<% if logged_in? %>
  <p>ようこそ、<%= current_user.name %>さん</p>
  <div class="col-xs-8">
    <ul class="media-list">
      <% @schedules.each do |schedule| %>
        <li><% date=schedule.event_date %><%= date.strftime('%m/%d (%a)') %>
            |<% stime = schedule.start_at %><%= stime.strftime('%H:%M') %>〜<% etime = schedule.end_at %><%= etime.strftime('%H:%M') %>
            |<%= link_to  schedule.event, schedule %>
            |<%= schedule.location %>|
            <%= render 'schedules/modal', schedule: schedule %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
<div class="center jumbotron">
  <div class="text-center">
    <h1>シンプルで使いやすい出欠管理を始めましょう</h1>
    <%= link_to '会員登録', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
<% end %>